body {
    margin: 0;
    padding: 0;
    width: 100%
}

@import 'header';

section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 6em;
    main {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 1em;

        h1 {
            grid-column: 1/3;
        }

        img {
            margin-top: 10px;
        }

        .second {
            grid-column: 1/3;
        }
    }
    article {
        margin-top: 30px;
        padding: 10px;
        border-left: 1px solid gray;

        hr {
            height: 2px;
            background-color: blue;
        }
        .container1 {
            background-color: lightgray;
            // width: 100%;
            height: 200px;
            padding: 10px;
        }
        .ads {
            background-color: blue;
            width: 100%;
            height: 100px;
        }
    }
}