* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
        text-transform: capitalize;
    }
    //social-icons 
    
    nav {
        display: block;
        background-color: blue;
        grid-column: 1/3;

        ul {
            list-style-type: none;
            
            li {
                display: inline-block;
                // margin-left: 10px;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    margin: 21px;
                }
            }
        }      
    }
    
}

section {
    display: flex;

    main {
        margin-top: 30px;
        flex: 70%;
    }
    article {
        margin-top: 40px;
        flex: 30%;
    }
}